@import "tailwindcss";
body{
    width: 100%;
    height: 100%;
    background-color: #13314D;
    color: #fff;
    background: #020212;
/* background: linear-gradient(90deg, rgba(2, 2, 18, 1) 15%, rgba(24, 59, 92, 1) 55%, rgba(2, 0, 36, 1) 100%); */
}
.font1{
    
    font-family: Poppins, sans-serif;
}
.line{
    
    background: linear-gradient(90deg, #fff0, #ffffff80);
    width: 100px;
    height: 2px;
}
.btn{
  background: #850000;
background: radial-gradient(circle, rgba(133, 0, 0, 1) 0%, rgba(199, 97, 97, 1) 100%);
}