@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poppins:wght@500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: "Roboto", serif !important; */
  /* font-family: sans-serif !important; */
    font-family: 'Inter', sans-serif !important;

}
/* h1, h2 {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600;
} */

body{
  width: 100%;
  height: 100%;
 
  overflow-x: hidden;
}
.main{
  width: 100%;
  height: 100%;
 
  overflow-x: hidden;
}
.serch_wrap {
    border: 1px solid gray;
}
.main{
    transition: cubic-bezier(0.19, 1, 0.22, 1)1s;
}
.card_heading {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
      font-family: 'Poppins', sans-serif !important;

    
}
.scrollControll::-webkit-scrollbar {
  display: none;

}
.border-bb {
        border-bottom: 1px solid #000000;
}
.border-bt {
        border-bottom: 1px solid #fff;
}
.card_desc  {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
      font-family: 'Poppins', sans-serif !important;

}
.bottom::-webkit-scrollbar{
    display: none;
  
}

.side_nav_btn svg {
  font-size: 18px;
}

/* .side_nav_btn:hover {
  background: #121212;
  border-radius: 30px;
} */
.side_nav_btn {
  display: flex
;
  padding: 6px 19px;
  margin-bottom: 5px;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border-radius: 4px;
}.btn_content::-webkit-scrollbar {
    display: none;
  }
.btn_content {
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    scrollbar-width: none; /* For Firefox */
  }
  .side_nav::-webkit-scrollbar
  {
      display: none;
  } 
  @media screen and (min-width:600px) {
    

.side_nav::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.side_nav::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.side_nav::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
	background-color: #121212;
}
}


body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.load-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fdba2c;
}
.bar {
    content: "";
    display: inline;
    position: absolute;
    width: 0;
    height: 100%;
    left: 50%;
    text-align: center;
}
.bar:nth-child(1) {
    background-color: #da4733;
    animation: loading 3s linear infinite;
}
.bar:nth-child(2) {
    background-color: #3b78e7;
    animation: loading 3s linear 1s infinite;
}
.bar:nth-child(3) {
    background-color: #fdba2c;
    animation: loading 3s linear 2s infinite;
}
@keyframes loading {
    from {
        left: 50%;
        width: 0;
        z-index: 100;
    }
    33.3333% {
        left: 0;
        width: 100%;
        z-index: 10;
    }
    to {
        left: 0;
        width: 100%;
    }
}


.icon1 svg{
    flex-shrink: 0;
    width: 16px;
    height: 16px;
}

.blank{
    /* background: #fff; */
    height: 10px;
    width: 100%;
    /* position: fixed; */
    top: 35%;
    left: 0;
}
.blank button{
    padding: 5px 12px;
}
.channel_desc{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}